<div class="container">
    <form>
        <label for="passphrase">Enter your passphrase</label>
        <br>
        <input id="passphrase" type="text">
        <br>
        <br>

        <button color="primary" type="submit" (click)="submitPass()">Submit</button>
    </form>
    <br>
    <div class="tabs">
        <div class="tab">
            <input class="hidden" type="checkbox" id="checkhelp">
            <label class="tab-label" for="checkhelp">What is this?</label>
            <div class="tab-content">
                Your passphrase is used to derive an AES-GCM key which we use to encrypt sensitive data before storage. 
                <br><br>
                If you haven't created a key, then choose (and remember) any passphrase and that will be used.
                <br><br>
                Please do not re-use credentials used elsewhere, as we are limited in our capacity to cache secrets securely due to WebExtension restrictions.
            </div>
        </div>
        <p></p>
    </div>
</div>