<div>
  <form [formGroup]="usersForm">
    <a (click)="enableEdit()"><i class="material-icons" uib-tooltip="Add user" tooltip-triggers="mouseenter"
        tooltip-append-to-body="true" tooltip-placement="left">add</i></a>
    <div *ngIf="enableAdd">
      <label for="usernameInput">Username</label>
      <input type="text" formControlName="usernameInput" id="usernameInput" placeholder="">
      <br>
      <div>
        <label for="commentCheck">Comments</label>
        <div class="inline-block-child"><input type="checkbox" formControlName="commentCheck" id="commentCheck" [checked]="commentEnabled" (click)="toggleComment()"></div>
        <label for="submitCheck">Submissions</label>
        <div class="inline-block-child"><input type="checkbox" formControlName="submissionCheck" id="submitCheck" [checked]="submissionEnabled" (click)="toggleSubmission()"></div>
      </div>
      <div>
        <div class="inline-block-child"><button (click)="cancelEdit()">Cancel</button></div>
      </div>
    </div>
    <br>
    <label for="friendsToggle">Enable friends tracking</label>
    <input type="checkbox" formControlName="friendsToggle" id="friendsToggle" [checked]="friendsInput"
      (click)="toggleFriends()">
    <button [disabled]="friendsInput == friendsEnabled && (!enableAdd || !usersForm.valid || !(commentEnabled || submissionEnabled))" (click)="submitChanges()">Submit</button>
  </form>
  <table>
    <tr>
      <td>Followed Users</td>
    </tr>
    <tr *ngFor="let user of users">
      <td>{{ user }}</td>
      <td>
        <a (click)="removeUser(user)">
          <i class="material-icons" uib-tooltip="Remove User" tooltip-trigger="mouseenter" tooltip-append-to-body="true"
            tooltip-placement="left">remove</i>
        </a>
      </td>
    </tr>
  </table>
</div>