<div class="container">
        <form [formGroup]="authForm" (submit)="startAuth()">
            <label>Authorize access to your Reddit account</label>
            <br />
            <button type="submit">Authorize</button>
        </form>
        <div>
        <p>Haven't configured Reddit OAuth?<br>
        1. Go to <a href="https://old.reddit.com/prefs/apps/">Reddit</a> and configure a new application with redirect url: {{ getRedirectURL() }} <br>
        2. Go to <a routerLink="/settings" routerLinkActive="active">settings</a> and configure your OAuth client id, secret, and authorization URL
        </p>
        </div>
</div>