<div class="app-wrapper">
  <main class="app-content">
    <nav>
      <ul>
        <li><a routerLink="/settings" routerLinkActive="active">settings</a></li>
        <li><a routerLink="/authorize" routerLinkActive="active">authorize</a></li>
        <li><a routerLink="/unlock" routerLinkActive="active">unlock</a></li>
        <li><a routerLink="/users" routerLinkActive="active">users</a></li>
      </ul>
    </nav>
    <router-outlet (activate)="onRouteActivated()"></router-outlet>
  </main>
</div>